body {
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, white, rgb(216, 23, 55));
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculator-grid {
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px,auto) repeat(5, 100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 3rem;
    border: 2px solid black;
    outline: none;
    background-color: rgb(212, 141, 173);
}
.calculator-grid > button:hover {
    background-color: rgb(226, 43, 134);
}

.span-two {
    grid-column:  span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(167, 64, 64);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .current-operand {
    color: rgb(3, 11, 19);
    font-size: 2.5rem;
}